/* CSS for Dashboard navbar */

.apparel {
font: 23px serif;
color: rgb(5, 5, 5);
font-stretch: expanded;
padding-top: 12px
}

span {
  font: 1em serif;
  color: rgb(216, 47, 47);
  font-stretch: expanded;
  /* font-family:  */
}


.form_align {
   padding: 10px;
   margin: 0px;
 }
 
 .navbar_font {
   width: 100%;
   position: fixed;
   top: 0px;
   z-index: 10;
   color: black;
   background-color: rgb(10, 43, 73);

 }
 
 .fa_search {
   font-size: 16px;
   color: rgb(88, 122, 181);
   display: flex;
   position: absolute;
   top: 20px;
   left: -10px;
   bottom: 0px;
 }
 
 .fa_cart {
   font-size: 28px;
   color: rgb(10, 51, 255);
   padding: 0px;
   display: flex;
   position: relative;
   left: 0px;
 }
 
 /* CSS for sub menu */

 .details {
   padding: 0px;
   display: flex;
   position: absolute;
   top: 0px;
   left: -22px;
   bottom: 0px;
}

/* CSS for media querries */

/* .navbar {
   margin: 0;
} */

/* @media (max-width: 600px) {
.dashboard-container {
  padding-top: 0px;
  padding-bottom: 0px;
 }
} */