.flex-align {
   display: flex;
   flex-wrap: wrap;
   align-content: space-evenly;
   height: 50%;
 }

.displayProducts {
   flex-wrap: wrap;
   border: 1px solid black;
   padding: 50px;
   align-content: center

}

.bgcolor {

   background-color:  rgb(5, 91, 118);
}